<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="./home.css">
<title>Admin home | TuneHub</title>
</head>
<body>
<nav class="navbar">

 <h2 id="h2">TuneHub</h2>
 <ul>
 <li><a href="/map-register">Register</a></li>
 <li><a href="/map-login">Login</a></li>
 <li><a href="/logout">Logout</a></li>
 </ul>
</nav>
<h1>Welcome <span th:text="${username}"></span>..!</h1>
<div class="row">

	<div class="column">
		<div class="card">
		<a href="/map-songs" >ADD SONGS</a>
		<p>Welcome to the gateway 
		of musical expansion! In the "Add Songs" 
		column, your library is just a
		 click away from transformation. 
		 Explore a vast ocean of melodies
		  spanning genres and eras. 
		  Discover new tracks that 
		  resonate with your soul or 
		  revisit old favorites to
		   reignite nostalgia. 
		   With a simple search or browse,
		    effortlessly integrate 
		    new songs into your collection.
		     Unleash your creativity and
		      musical exploration with every click.</p>
		</div>
	</div>

	<div class="column">
		<div class="card">
		<a href="/view-songs" >VIEW SONGS</a>
		<p>Dive into the heart of your music library with the "View Songs" column. Here, every beat and lyric awaits your attention. Organize your songs by artist, album, or genre for easy navigation. Revel in the familiarity of cherished tunes or stumble upon hidden gems waiting to be rediscovered. With a comprehensive view of your library, embark on a sonic journey tailor-made to your mood and moment.</p>
		</div>
	</div>

	<div class="column">
		<div class="card">
		<a href="/createplaylist" >CREATE PLAYLIST</a>
		<p>Elevate your music experience to new heights with the "Create Playlist" column. Here, creativity knows no bounds as you craft personalized collections of songs that reflect your unique tastes and moods. Name your playlists, select tracks from your library, and arrange them in perfect harmony. Whether curating a playlist for a road trip, a romantic evening, or simply to match your vibe.</p>
		</div>
	</div>

	<div class="column">
		<div class="card" >
		<a href="/viewplaylist" >VIEW PLAYLIST</a>
		<p>Enter the realm of curated harmony in the "View Playlist" column. Explore playlists meticulously crafted to evoke emotions, fuel productivity, or accompany every moment of your life. From energizing workout mixes to serene study soundtracks, find the perfect accompaniment for every occasion. Immerse yourself in the rhythms and melodies selected by experts or fellow enthusiasts, and let the music guide your journey.</p>
		</div>
	</div>

</div>
</body>
</html>