<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/cusHome.css">
<title>Custome home | TuneHub</title>
</head>
<body>
<nav class="navbar">

 <h2 id="h2">TuneHub</h2>
 <ul>
 <li><a href="/map-register">Register</a></li>
 <li><a href="/map-login">Login</a></li>
 <li><a href="/logout">Logout</a></li>
 </ul>
</nav>
<h1>Welcome <span th:text="${username}"></span></h1>

<div class="row">
	<div class="column">
		<div class="card">
		<a href="/exploreSongs" >Explore Songs</a>
		<p>Dive into the heart of your music library with the "Explore Songs" column. Here, every beat and lyric awaits your attention. Organize your songs by artist, album, or genre for easy navigation. Revel in the familiarity of cherished tunes or stumble upon hidden gems waiting to be rediscovered. With a comprehensive view of your library, embark on a sonic journey tailor-made to your mood and moment.</p>
		</div>
	</div>

	<div class="column">
		<div class="card">
		<a href="/view-playlists" >View Playlist</a>
		<p>Elevate your music experience to new heights with the "View Playlist" column. Here, creativity knows no bounds as you craft personalized collections of songs that reflect your unique tastes and moods. Name your playlists, select tracks from your library, and arrange them in perfect harmony. Whether curating a playlist for a road trip, a romantic evening, or simply to match your vibe.</p>
		</div>
	</div>

	<div class="column">
		<div class="card" >
		<a href="/create-playlist" >Create Playlist</a>
		<p>Enter the realm of curated harmony in the "Create Playlist" column. Explore playlists meticulously crafted to evoke emotions, fuel productivity, or accompany every moment of your life. From energizing workout mixes to serene study soundtracks, find the perfect accompaniment for every occasion. Immerse yourself in the rhythms and melodies selected by experts or fellow enthusiasts, and let the music guide your journey.</p>
		</div>
	</div>

</div>

</body>
</html>