<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/forgotPassword.css">
<title>Forgot Password</title>

</head>
<body>
<nav class="navbar">

 <h2 id="h2">TuneHub</h2>
 <ul>
 <li><a href="/map-login">Login</a></li>
 <li><a href="/logout">Logout</a></li>
 </ul>
</nav>
<div class="form">
<form action="/reset-password" method="post">
<h3>Reset your Password</h3>
<label>Registered Email:</label>
<input type="email" name="email">
<br>
<input id="button" type="submit" value="Send Reset Link">
</form>
</div>

</body>
</html>