<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="/login.css">
<title>TuneHub | Login</title>
</head>
<body>
<nav class="navbar">

 <h2 id="h2">TuneHub</h2>
 <ul>
 <li><a href="/map-register">Register</a></li>
 
 </ul>
</nav>

<div class="form">
<h3>Log in to TuneHub</h3>
<form action="/login" method="post">
<label>Email ID:</label>
<input type="email" name="email">
<br></br>
<label>Password:</label>
<input type="password" name="password">
<br>
<a href="/forgotPassword">Forgot Password?</a>
<br>
<input id="button" type="submit" value="LOGIN">
</form>
</div>

</body>
</html>